<% provide(:title, "Add Issue") %>
<h1>Add Issue</h1>

<div class="row">

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@issue) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :issue_number %>
      <%= f.text_field :issue_number %>

      <%= f.label :cover_date %>
      
      <%= f.date_select(:cover_date, :as => :date, :start_year => Date.today.year + 1, :end_year => Date.today.year - 1, 
              :order => [ :day, :month, :year], :required => true )%>
      <%= f.label :magazine_id %>
      <%= f.collection_select(:magazine_id, Magazine.all, :id, :title,  :prompt => true ) %>

      <%= f.submit "Create issue", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>