<% provide(:title, 'All Remittances') %>
<div> Logged in as: <%= current_user.name %></div>
<h1>All Remittances</h1>




<%= link_to "Add Remittance Advice", new_remittance_path, class: "btn btn-large btn-primary" %><p>

<table class="table table-striped" >
	<tr>
		<th><%= sortable "user_id", "Agency" %></th> 
		<th><%= sortable "issue_id", "Issue"%></th> 
		<th>Cover Date</th> 
		<th><%= sortable "magazine_id", "Magazine"%></th> 
		<th>&nbsp</th> 
		<th>&nbsp</th> 
	</tr>

<% for remittance in @remittances %>
<tr>
	<td><%= remittance.user.name %> </td>
	<td><%= remittance.issue.issue_number %></td>
	<td><%= remittance.issue.cover_date.strftime("%b-%d-%Y") %> </td>
	<td><%= remittance.magazine.title %> </td>
	<td><%= link_to "Edit", edit_remittance_path(remittance) %></td>
	<td><%= link_to "Delete", remittance, method: :delete, data: { confirm: "You sure you want to delete this remittance?" } %></td>
</tr>	
<% end %>
</table>	

