<% provide(:title, 'Remittance Advice Search') %>
<div> Logged in as: <%= current_user.name %></div>
<h1>Remittance Advice Portal</h1>
<div class="span4 offset3">
<%= form_tag remittances_path, :method => 'get' do %>
<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
  <p>
  	Magazine
    <%= select_tag "mag_id", options_from_collection_for_select(Magazine.find(:all), 
    					:id, :title, params[:mag_id]), :prompt => "Please select"%>
    Issue Number
    <%= text_field_tag :issue_num, params[:issue_num] %>


    Agency
    <%= select_tag "u_id", options_from_collection_for_select(User.find(:all), 
    					:id, :name, params[:u_id]), :prompt => "Please select"%>

    Sub Agency
    <%= select_tag "su_id", options_from_collection_for_select(Subuser.find(:all), 
    					:id, :subname, params[:su_id]), :prompt => "Please select"%>

    

    <%= submit_tag "Search", :name => nil, class: "btn btn-large btn-primary"%>
    <%= link_to "Clear Search", remittances_path, class: "btn btn-large btn-primary" %><p>
  </p>
<% end %>

<%= link_to "Add Remittance Advice", new_remittance_path, class: "btn btn-large btn-primary" %><p>
</div>
<table class="table table-striped" >
	<tr>
		<th><%= sortable "user_id", "Agency" %></th> 
		<th>Sub User</th> 
		<th><%= sortable "issue_id", "Issue"%></th> 
		<th>Cover Date</th> 
		<th><%= sortable "magazine_id", "Magazine"%></th> 
		<th>Remittance Advice</th> 
		<th>&nbsp</th>
		<th>&nbsp</th>  
	</tr>

<% for remittance in @remittances %>
<tr>
	<td><%= remittance.user.name %> </td>
	<td><%#= remittance.subuser.('1') %> </td>
	<td><%= remittance.issue.issue_number %></td>
	<td><%= remittance.issue.cover_date.strftime("%b-%d-%Y") %> </td>
	<td><%= remittance.magazine.title %> </td>
	<td><%=  link_to "Download Advice", remittance.myfile.url, :target => "_blank"%> </td>
	<td><%= link_to "Edit", edit_remittance_path(remittance) %></td>
	<td><%= link_to "Delete", remittance, method: :delete, data: { confirm: "You sure you want to delete this remittance?" } %></td>
</tr>	
<% end %>
</table>	

<%= will_paginate @remittances %>

