<% provide(:title, 'All Remittances') %>
<div> Logged in as: <%= current_user.name %></div>
<h1>All Remittances</h1>

<%= form_tag remittances_path, :method => 'get' do %>
<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
  <p>
  	Magazine
    <%= select_tag "mag_id", options_from_collection_for_select(Magazine.find(:all), :id, :title, params[:mag_id]), :prompt => "Please select"%>
    User ID
    <%= text_field_tag :u_id, params[:u_id] %>
    <%#= select_tag "search", options_for_select([ "1", "2", "Closed" ], params[:search]) %>  
    <%= submit_tag "Search", :name => nil, class: "btn btn-large btn-primary"%>
    <%= link_to "Clear Search", remittances_path, class: "btn btn-large btn-primary" %><p>
  </p>
<% end %>


<%= link_to "Add Remittance Advice", new_remittance_path, class: "btn btn-large btn-primary" %><p>

<table class="table table-striped" >
	<tr>
		<th><%= sortable "user_id", "Agency" %></th> 
		<th><%= sortable "issue_id", "Issue"%></th> 
		<th>Cover Date</th> 
		<th><%= sortable "magazine_id", "Magazine"%></th> 
		<th>&nbsp</th> 
		<th>&nbsp</th> 
	</tr>

<% for remittance in @remittances %>
<tr>
	<td><%= remittance.user.name %> </td>
	<td><%= remittance.issue.issue_number %></td>
	<td><%= remittance.issue.cover_date.strftime("%b-%d-%Y") %> </td>
	<td><%= remittance.magazine.title %> </td>
	<td><%= link_to "Edit", edit_remittance_path(remittance) %></td>
	<td><%= link_to "Delete", remittance, method: :delete, data: { confirm: "You sure you want to delete this remittance?" } %></td>
</tr>	
<% end %>
</table>	

<%= will_paginate @remittances %>

