<% provide(:title, @user.name) %>
<div> Logged in as: <%= current_user.name %></div>
<div> <% if current_user.admin? %> 
			admin
		<%else  %> 
			not admin
		<% end %> 
</div>

<h1><%= @user.name %></h1>


<%= form_tag new_subuser_path, :method => 'get' do %>
        <%= hidden_field_tag :user_id,  @user.id %>
        <%= submit_tag "Add Sub Agency", :name => nil, class: "btn btn-large btn-primary"%>
    <% end %>