<% provide(:title, 'Magazines') %>
<div> Logged in as: <%= current_user.name %></div>
<h1>Magazines</h1>

<%= link_to "Add Magazine", new_magazine_path, class: "btn btn-large btn-primary" %><p>

<table class="table table-striped" >
	<tr>
		<th>Magazine</th> 
		<th>Division</th> 
		<th>&nbsp</th>
		<th>&nbsp</th>  
	</tr>
	
<% @magazines.each do |magazine| %> 
<tr>
	<td><%= magazine.title %></td>
	<td><%= magazine.division %></td>
	<td><%= link_to "Edit", edit_magazine_path(magazine) %></td>
	<td><%= link_to "Delete", magazine, method: :delete, data: { confirm: "You sure you want to delete this magazine?" } %></td>
</tr>
<% end %>
</table>
