<% provide(:title, 'All Magazines') %>
<div> Logged in as: <%= current_user.name %></div>
<h1>All magazines</h1>

<ul class="users">
	<%= link_to "Add Magazine", 'magazines/new' %>
<% @magazines.each do |magazine| %> 
<li><%= magazine.title %> | <%= magazine.division %> 
	| <%= link_to "Edit", edit_magazine_path(magazine) %>
	| <%= link_to "Delete", magazine, method: :delete, data: { confirm: "You sure you want to delete this magazine?" } %>
<% end %>
</ul>
